table {
    width: 100%;
    border-collapse: collapse;

}

table th,
table td {
    border: 1px solid #000;   
    padding: 2px 5px;   

}

table th {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ffcc00;
    text-shadow: 1px 1px 3px #000;
}